<!DOCTYPE html>
<html>
<head>
  </head>
  <body>
    <main>
      </br>
      <h2>AceBook</h2>
      A Facebook-inspired social platform, where users can post their thoughts, and like and comment on posts.</br></br>

    <h4>Collaborators</h4>

    <a href="https://github.com/acavalla">Anna Cavalla</a></br>
    <a href="https://github.com/HamishArro">Hamish Arro</a></br>
    <a href="https://github.com/JosephSpraggon">Joseph Spraggon</a></br>
    <a href="https://github.com/CodeRed30">Katrina Harradine</a></br>
    <a href="https://github.com/mscwilson">Miranda Wilson</a></br>
    <a href="https://github.com/PetarSimonovic">Petar Simonovic</a></br>

    <a href="https://github.com/PetarSimonovic/acebook-poke">Github repo</a></br>
<p>

    <h4>About the app</h4>
    This was a team project built in two weeks as part of the <a href="http://makers.tech">Makers Academy</a> coding bootcamp.</br>
    The brief was to create a Facebook clone using Ruby on Rails, a framework new to all of us.</br> We were given a Rails project skeleton to work from.</br></br>

    To develop the app, we followed the client requirements in deciding what features to focus on.</br> We took advantage of several existing gems (libraries) to simplify our work:</br>
    <ul style="list-style-type:none;">
    <li> <a href="https://github.com/heartcombo/devise">Devise</a> for users and user authentication</li>
    <li> <a href="https://github.com/jonhue/acts_as_favoritor">Acts-as-favoritor</a> for the Likes functionality</li>
    <li> <a href="https://github.com/lml/commontator">Commontator</a> for adding Comments to posts</li>
    <li> jQuery for dynamically adding Likes and Comments without reloading the page</li>
    <li> pg / PostgreSQL database to allow deployment on Heroku</li>
    <li><a href="https://getbootstrap.com/">Bootstrap</a> for styling</li>
    </ul>

    The colour scheme was developed using <a href="https://coolors.co/">Coolors</a> and the logo was made with <a href="https://www.canva.com/en_gb/">Canva</a>.</br>

    No further development is planned for this app.</br></br>

    <h4>Known issues</h4>
    This app has been tested on desktop browsers (Chrome v88, </br>Firefox v85) and is not optimised for mobile browers. The 'Sign out' button is not visible on mobile.
</p>
</main>
</body>
