<div class="post-page">
  <div class="new-post-page">
    <%= form_for @post do |form| %>
      <%= form.label :message, "Edit Post" %>
      <br>
      <%= form.text_area :message %>
      <br>
      <%= form.submit "Submit", class: "btn btn-lg btn-primary" %>
    <% end %>
  </div>
</div>
